<?xml version="1.0"?>
<config>
    <modules>
        <Lister_CookieThemer>
            <version>1.0.0.0</version>
        </Lister_CookieThemer>
    </modules>
    <global>
        <blocks>
            <cookiethemer>
                <class>Lister_CookieThemer_Block</class>
            </cookiethemer>
        </blocks>
		<models>
            <cookiethemer>
                <class>Lister_CookieThemer_Model</class>
            </cookiethemer>
            <core>
                <rewrite>        
                    <design_package>Lister_CookieThemer_Model_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <helpers>
            <cookiethemer>
                <class>Lister_CookieThemer_Helper</class>
            </cookiethemer>
        </helpers>
    </global>
	<admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<cookiethemer before="Mage_Adminhtml">Lister_CookieThemer_Adminhtml</cookiethemer>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
 </config>